* {
	margin: 0px;
	padding: 0px;
}

html {
	width: 90%;
	margin: auto;
}

body {
	transition: all .2s linear;
}

button {
	padding: 5px 20px 5px 20px;
	margin: 10px 0px 0px 0px;
	font-weight: bold;
}

body.day {
	background: #eee;
	color: #333;
}
body.night {
	background: #333;
	color: #eee;
}
.hidden {
	display: none;
}

.header {
	margin-left: -2.5%;
}

.stats,
.header,
.missions_container {
	padding: 20px 0px 20px 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.missions_container {
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
}

.header h1 {
	flex-grow: 1;
}

.missions_area {
	margin: 20px 0px 20px 0px;
}

.mission {
	padding: 20px;
	width: 250px;
}

.mission h3 {
	padding: 5px 5px 5px 20px;
}


@media all and (max-width: 500px) {
	.header {
		flex-direction: column;
	}
	
}

@media all and (max-width: 650px) {
	.stats {
		flex-direction: column;
	}
	
}

